.card {
    width: 250px;
    margin: 20px 20px;
    border-radius: 10px;
  }

mat-card-header {
  background-color: rgba(199, 199, 199, 0.438);
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

p {
  margin-left: 20px;
}
